*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    font-family: monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: normal;
    color: white;
    text-shadow: 4px 4px 0 black;
    font-size: 8em;
}
@media screen and (max-width: 500px){
    h1{
        text-shadow: 2px 2px 0 black;
        font-size: 3em;
    }
}